<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Flights!</title>
</head>

<body>
    <%- include('../partials/nav') %>
    <h2>All Flights</h2>
    <table>
        <thead>
            <tr>
                <th>Airline<a href="/flights?sortBy=airline&sortDir=1"><img src="/public/images/sortUp.png" ></a><a href="/flights?sortBy=airline&sortDir=-1"> <img src="public/images/sortDown.png" ></a></th>
                <th>Flight Number<a href="/flights?sortBy=flightNumber&sortDir=1"><img src="/public/images/sortUp.png" ></a><a href="/flights?sortBy=flightNumber&sortDir=-1"><img src="/public/images/sortDown.png" ></a></th>
                <th>Departure Time<a href="/flights?sortBy=departs&sortDir=1"><img src="/public/images/sortUp.png" ></a><a href="/flights?sortBy=departs&sortDir=-1"><img src="/public/images/sortDown.png" ></a></th>
                <th>Airport<a href="/flights?sortBy=airport&sortDir=1"><img src="/public/images/sortUp.png" ></a><a href="/flights?sortBy=airport&sortDir=-1"><img src="/public/images/sortDown.png" ></a></th>
                <th>Flight Details</th> 
            </tr>
        </thead>
        <tbody id="tableBody">
            <% flights.forEach(function(f) { %>
            <tr <%- flights.departs < new Date() ? 'class="passed-flights"' : '' %>>
                <td <%= f.airline %></td>
                <td class="flightNumber"><%= f.flightNumber %></td>
                <td><%= f.departs %></td>
                <td><%= f.airport %></td>
                <td><a href="/flights/<%= f._id %>"><img src="/public/images/info.png"></a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
    <a href="/flights/new">Add Flight</a>
</body>

</html>


