<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <title>Flights!</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700|Raleway|Poiret+One|PT+Mono&display=swap"
        rel="stylesheet">
</head>



<%- include('../partials/nav') %>

<body>
    <div class="pageTitle">
        <h2>All Flights</h2>
        <table class="flightBoard">
            <thead>
                <tr id="flightHeader">
                    <th>Airline
                        <a class="asc" href="/flights?sortBy=airline&sortDir=1">&#9650</a>
                        <a class="desc" href="/flights?sortBy=airline&sortDir=-1">&#9660</a>
                    </th>
                    <th>Flight No.
                        <a class="asc" href="/flights?sortBy=flightNumber&sortDir=1">▲</a>
                        <a class="desc" href="/flights?sortBy=flightNumber&sortDir=-1">▼</a>
                    </th>
                    <th>Airport
                        <a class="asc" href="/flights?sortBy=airport&sortDir=1">▲</a>
                        <a class="desc" href="/flights?sortBy=airport&sortDir=-1">▼</a>
                    </th>
                    <th>Departs
                        <a class="asc" href="/flights?sortBy=departs&sortDir=1">▲</a>
                        <a class="desc" href="/flights?sortBy=departs&sortDir=-1">▼</a>
                    </th>
                </tr>
            </thead>
            <tbody class="flightBoard">
                <% flights.forEach(function(f) { %>
                <tr>
                    <td>
                        <a <%- f.departs < new Date() ? 'class="pastFlight"' : '' %> href="/flights/<%= f._id %>">
                            <%= f.airline %>
                    </td>
                    <td>
                        <a <%- f.departs < new Date() ? 'class="pastFlight"' : '' %>href="/flights/<%= f._id %>">✈
                            <%= f.flightNumber %>
                        </a>
                    </td>
                    <td>
                        <a <%- f.departs < new Date() ? 'class="pastFlight"' : '' %> href="/flights/<%= f._id %>">
                            <%= f.airport %>
                        </a>
                    </td>
                    <td>
                        <a <%- f.departs < new Date() ? 'class="pastFlight"' : '' %> href="/flights/<%= f._id %>">
                            <%= f.departs %>
                        </a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table><br><br>
        <button class="board" onclick="window.location.href = '/flights/new';">Add Flight</button>
    </div>

</body>

</html>